body {
    background-color: #ce5050;
}


.navbar {
    background-color: #ce5050;
}

#title {
    width: 95%;
}

a {
    color: #FFF;
}


.jumbotron {
    background-color: #ce5050;

}

#brand-name {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    padding: 0;
}

h3 {   
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
    padding: 0;
}

p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5rem;
}

.card {
    margin-bottom: 10px;
}



/* font-family: 'Luckiest Guy', cursive;
font-family: 'Cookie', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Carter One', cursive;
font-family: 'Bangers', cursive;
font-family: 'Kaushan Script', cursive; */